* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(150deg, #002765,#C4BFBF);
    padding: 10px;
}

.To-Do-App {
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 20px;
    border: solid 5px black;
    box-shadow: black 2px 10px 15px 5px;
}

.To-Do-App h2{
    color: #002765;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 50px;
    text-decoration: underline;
     /* font-style: oblique; */
     /* font-family: cursive; */
     font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

input {
    flex: 1;
    border: none;
    outline: #002765;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    background-color: #002765;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    /* list-style: linear-gradient(170deg, #00CED1,#C4BFBF); */
    list-style: none;
    font-size: 28px;
    font-family: 'Cambria', 'Cochin', Georgia, Times, 'Times New Roman', serif;
    padding: 2.8px 7px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/circle3.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
    color: gray;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    /* font-family: 'Haettenschweiler', sans-serif; */
    font-size: 40px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    /* background: #00CED1; */
    /* background: #002765; */
    /* background: #babbbc; */
    background: #f10404;
}